<nz-card>
  <h2 nz-typography class="py-2">Registrarse</h2>
  <form action="" nz-form [formGroup]="form" (ngSubmit)="register()">
    <!-- name and lastname -->
    <nz-form-item nzGutter="10">
      <nz-form-control nzSpan="12" nzErrorTip="Este campo es requerido">
        <input
          type="text"
          nz-input
          formControlName="nombres"
          placeholder="Nombres"
          nzSize="large"
        />
      </nz-form-control>
      <nz-form-control nzSpan="12" nzErrorTip="Este campo es requerido">
        <input
          type="text"
          nz-input
          formControlName="apellidos"
          placeholder="Apellidos"
          nzSize="large"
        />
      </nz-form-control>
    </nz-form-item>
    <!-- email -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Este email no es valido">
        <input
          type="email"
          nz-input
          formControlName="email"
          placeholder="Correo"
          nzSize="large"
        />
      </nz-form-control>
    </nz-form-item>
    <!-- telefono -->
    <nz-form-item>
      <nz-form-control>
        <input
          type="tel"
          nz-input
          formControlName="celular"
          placeholder="Teléfono"
          nzSize="large"
        />
      </nz-form-control>
    </nz-form-item>

    <!-- password -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorPassword">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Contraseña"
          nzSize="large"
        />
      </nz-form-control>
      <ng-template #errorPassword let-control>
        <ng-container *ngIf="control.hasError('password')">
          {{ control.getError("password") }}
        </ng-container>
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTpl">
        <input
          type="password"
          nz-input
          formControlName="verifyPassword"
          placeholder="Repetir Contraseña"
          nzSize="large"
        />
      </nz-form-control>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Este campo es requerido
        </ng-container>

        <ng-container *ngIf="control.hasError('confirm')">
          las contraseñas no coinciden
        </ng-container>
      </ng-template>
    </nz-form-item>
    <!-- button -->
    <nz-form-item nzAlign="middle" nzJustify="center" class="w-100">
      <button nz-button type="submit" nzType="primary">
        Registrarse
      </button>
    </nz-form-item>
  </form>
  <span>
    ¿Ya tienes una cuenta? <a href="" routerLink="../loguin"> Iniciar Sesión</a>
  </span>
</nz-card>
