<!-- modal create -->

<nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="menu">
        <li class="menu__right">
            <nz-space>
                <button *nzSpaceItem nz-button (click)="openBrandModal()">
          marcas
        </button>
                <button nz-button *nzSpaceItem (click)="openCategoriesModal()">
          categorias
        </button>
            </nz-space>
        </li>
        <li class="menu__left">
            <button nz-button nzType="primary">
        nuevo producto
      </button>
        </li>
    </ul>
</nz-header>
<div nz-row class="w-100 mt-4 mx-3">
    <div nz-col nzSpan="4">
        <h3 nz-typography>Categorias</h3>
        <ul class="categories">
            <li nzSpan="20" nz-checkbox *ngFor="let item of categories">
                {{ item }}
            </li>
        </ul>
    </div>
    <div nz-col nzSpan="18">
        <div nz-row>
            <nz-form-item nz-col nzSpan="8" nzPush="2">
                <nz-input-group nzPrefixIcon="search">
                    <input placeholder="Buscar" type="text" nz-input />
                </nz-input-group>
            </nz-form-item>
            <button nz-button nz-col nzSpan="4" nzPush="10" nzType="primary">
        Agregar
      </button>
        </div>
        <div nz-row nzJustify="center">
            <nz-table nz-col nzSpan="20" [nzData]="[]">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>unidad</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>papitas</td>
                        <td>monto</td>
                        <td>050</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>