@import "src/sass/variables";
.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
        margin: 5px 0;
    }
}

.menu {
    position: relative;
    &__right {
        position: absolute;
        left: $space-menu;
    }
    &__left {
        right: $space-menu;
        position: absolute;
    }
}

.handle_categorie_list {
    width: 500px;
    margin: 0 auto;
    .btn_more {
        margin-left: 93%;
        margin-bottom: 10px;
    }
}