@import "src/sass/variables";
.categories {
  display: flex !important;
  flex-direction: column;
  // align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 0 !important;
  li {
    // display: block;
    width: 250px;
    margin: 5px 50px 0 0;
    list-style: none;
  }
}

.menu {
  position: relative;
  &__right {
    position: absolute;
    left: $space-menu;
  }
  &__left {
    right: $space-menu;
    position: absolute;
  }
}

.handle_categorie_list {
  width: 500px;
  margin: 0 auto;
  .btn_more {
    margin-left: 93%;
    margin-bottom: 10px;
  }
}
