:host {
  --bg: #096dd9;
  display: block;
  width: 150px;
  height: 70px;
  margin: 10px 0px;
  background-color: var(--bg);
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  .badge_title {
    text-align: left;
    width: 100%;
    font-size: 1rem;
  }
  span {
    text-align: left;
  }
  * {
    margin: 0;
    padding: 0;
  }
}
