<div gdAreas="content content content preview" gdGap="10px 40px">
  <nz-card gdArea="content" [nzTitle]="header">
    <ng-template #header>
      <div fxLayout="row" class="w-100" fxLayoutAlign="space-between center">
        <ul nz-menu nzMode="horizontal">
          <li nz-menu-item>
            <a>Clientes </a>
          </li>
          <li nz-menu-item>
            <a>Contactos </a>
          </li>
        </ul>
        <button nz-button nzType="primary" (click)="openHandleContact()">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
        </button>
      </div>
    </ng-template>
    <h2 nz-typography>
      Clientes
    </h2>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzSuffixIcon="search">
          <input type="text" nz-input placeholder="Buscar.." />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!-- list of contacts -->
    <nz-list>
      <leo-item-contact
        (onSelected)="clickCard($event)"
        [contact]="item"
        *ngFor="let item of contacts$ | async"
      >
      </leo-item-contact>
    </nz-list>
  </nz-card>
  <leo-contact-preview [contact]="contact$ | async"></leo-contact-preview>
</div>
