<div *ngIf="$vm | async as vm">
  <form
    action=""
    nz-form
    [formGroup]="productForm"
    (ngSubmit)="registerProduct($event)"
  >
    <!-- photo -->
    <le-upload-input
      (payloadUploadEvent)="receiveFile($event)"
      [imageUrl]="imageUrl"
    >
    </le-upload-input>
    <!-- name -->
    <nz-form-item>
      <nz-form-control>
        <nz-form-label>
          Nombre
        </nz-form-label>
        <input type="text" nz-input formControlName="name" />
      </nz-form-control>
    </nz-form-item>
    <!-- count method -->
    <nz-form-item>
      <nz-form-control>
        <nz-form-label>
          Metodo de evaluación
        </nz-form-label>
        <nz-select formControlName="method_cont">
          <nz-option
            *ngFor="let item of methodcounts"
            [nzValue]="item.value"
            [nzLabel]="item.label"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- categorie -->
    <nz-form-item>
      <nz-form-control>
        <nz-form-label>
          Categorias
        </nz-form-label>
        <nz-select nzShowSearch formControlName="category">
          <nz-option
            *ngFor="let categorie of vm.categories"
            [nzValue]="categorie.id"
            [nzLabel]="categorie.name"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- brand -->
    <nz-form-item nz-row nzJustify="center">
      <nz-form-control>
        <nz-form-label nzNoColon>
          <span class="px-1">
            Marca
          </span>
          <nz-switch [formControl]="visibleBrandChague"></nz-switch>
        </nz-form-label>
        <nz-select
          nzShowSearch
          formControlName="brand"
          *ngIf="visibleBrandChague.value == true"
        >
          <nz-option
            *ngFor="let brand of vm.brands"
            [nzValue]="brand.id"
            [nzLabel]="brand.name"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- Method -->
    <nz-form-item nzJustify="start" nzGutter="24" *ngIf="vm.interface?.labels">
      <nz-form-control>
        <nz-form-label>
          {{ vm.interface?.labels | slice: 0:1 }}
        </nz-form-label>
        <nz-input-number formControlName="mont_enter"></nz-input-number>
      </nz-form-control>
      <nz-form-control>
        <nz-form-label>
          {{ vm.interface?.labels | slice: 1 }}
        </nz-form-label>
        <nz-input-number formControlName="mont_exist"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <!-- Stock -->
    <nz-form-item
      nzJustify="start"
      nzGutter="24"
      *ngIf="vm.interface?.stockVisible"
    >
      <nz-form-control nzSpan="4">
        <nz-form-label>
          {{ vm.interface?.labelStock }}
        </nz-form-label>
        <nz-input-number formControlName="stock"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <!-- description -->
    <nz-form-item>
      <nz-form-control>
        <nz-form-label>
          Descripción
        </nz-form-label>
        <textarea name="" nz-input formControlName="description"></textarea>
      </nz-form-control>
    </nz-form-item>
    <!-- buttons -->
    <div nz-row nzJustify="center">
      <button nz-button nzType="primary" type="submit">
        {{ vm.isEdit ? "Guardar cambios" : "Registrar" }}
      </button>
    </div>
    <!-- override footer -->
    <ng-template *nzModalFooter></ng-template>
  </form>
</div>
