<div class="modal_handle" fxLayout="column" fxLayoutAlign="center center">
    <nz-input-group nzPrefixIcon="search" style="width: 500px;">
        <input nz-input nzSize="large" placeholder="Buscar Categoria" />
    </nz-input-group>
    <ul nz-list nzBordered class="my-4">
        <li nz-list-item style="width: 500px;">
            <ul nz-list-item-actions>
                <nz-list-item-action>
                    <button nz-button nzType="primary" nzDanger>
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
                </nz-list-item-action>
                <nz-list-item-action>
                    <button nz-button nzType="primary">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
                </nz-list-item-action>
            </ul>
            categoria abd
        </li>
    </ul>
</div>