<nz-card>
  <h2 nz-typography class="pt-2">Verificación</h2>
  <p>
    Para confirmar tu identidad hemos enviado un email a example@gmail.com con
    un codigo de acceso
  </p>
  <form action="" class="py-3" nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-control>
        <input
          type="text"
          nz-input
          class="input_confirm"
          min="0"
          placeholder="0"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          type="text"
          nz-input
          class="input_confirm"
          min="0"
          placeholder="0"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          type="text"
          nz-input
          class="input_confirm"
          min="0"
          placeholder="0"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          type="text"
          nz-input
          class="input_confirm"
          min="0"
          placeholder="0"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          type="text"
          nz-input
          class="input_confirm"
          min="0"
          placeholder="0"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
  <span class="my-4">
    ¿No recibiste el codigo? <a href="">Volver a enviar</a>
  </span>
</nz-card>
